/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  max-width: 700px;
  margin: 0 auto;
  background: var(--bg);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" 400;
}

h1.title {
  font-family: var(--secondary-font);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

h2.subtitle {
  font-family: var(--secondary-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.header {
  background-color: white;
  display: flex;
  margin: 100px 0;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 128px 14px;
  border: 2px solid black;
  width: 100%;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  background-color: white;
}

.card h3 {
  font-size: 18px;
  font-variation-settings: "wght" 700;
  padding: 4px 9px;
  border-block-end: 2px solid black;
}

.card img {
  width: 100%;
  height: auto;
  max-height: 696px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  border-block-end: 2px solid black;
  object-position: center;
}

.card .img-container {
  position: relative;
}

.img-span {
  opacity: 0.5;
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  font-family: var(--secondary-font);
  font-size: 14px;
  text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white,
    -1px 1px 0 white;
}

@supports (-webkit-text-stroke: 1px white) {
  .img-span {
    -webkit-text-stroke: 1px white;
    text-shadow: none;
  }
}

.card p {
  padding: 25px;
  padding-block-end: 0;
  font-size: 18px;
  margin-block-end: 0;
  line-height: 21px;
}

.card .card__buttons-container {
  display: flex;
  gap: 5px;
  justify-content: end;
  padding-block-start: 23px;
  padding-block-end: 25px;
  padding-inline-end: 25px;
  align-items: center;
}

.card__icon-button {
  outline: 2px solid transparent;
  height: 38px;
  background: none;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* Фильтры */

.sepia {
  filter: sepia(100%);
}

.grayscale {
  filter: grayscale(100%);
}

.invert {
  filter: invert(100%);
}

.hue-rotate {
  filter: hue-rotate(90deg);
}

.saturate {
  filter: saturate(8);
}

.brightness {
  filter: brightness(0.25);
}

.contrast {
  filter: contrast(200%);
}

.multiple-filters {
  filter: sepia(100%) hue-rotate(90deg) saturate(8) contrast(200%);
}

/* Модальное окно */

#insert[open] {
  max-width: 350px;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.insert-dialog {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  max-height: 191px;
}

.header-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

::backdrop {
  background-color: rgba(0 0 0 / 75%);
}

#insert h3 {
  font-family: var(--secondary-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.header-container svg {
  width: 90px;
  height: 64px;
}

/* Медиавыражения */

@media (width <= 500px) {
  .header {
    padding: 120px 14px;
  }

  .btn.btn-save {
    flex-direction: column;
    max-width: 306px;
  }

  .btn-save .floppy {
    width: 28px;
    height: 28px;
  }
}
