/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: 'Inter', sans-serif;
  max-width: 700px;
  margin: 0 auto;
  background-image: url(../images/bg.png), linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  background-size: 4px;
}

h1.title {
  font-family: 'Press Start 2P', sans-serif;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

h2.subtitle {
  font-family: 'Press Start 2P', sans-serif;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.header {
  display: flex;
  margin: 100px 0;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 120px 14px;
  border: 2px solid black;
  width: 100%;
  gap: 20px;
}