/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: "Inter", sans-serif;
  --secondary-font: "Press Start 2P", sans-serif;
  --bg: url(../images/bg.png), linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  --bg-size: 4px;
}
